@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

.header {
  /* border: 2px solid red; */
  background-color: #6669fe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 98px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
}

.logo {
  margin-top: 24px;
  max-height: 70px;
}

.custom-heading {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.userName {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 23.33px;
  line-height: 29.4px;
  text-align: right;
  margin-left: auto;
}

.subject {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15.12px;
  text-align: right;
}

.container {
  background-color: lightblue;
  width: 30%;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
}

@media (max-width: 480px) {
  .userName,
  .subject {
    display: none;
  }
  .header {
    width: vw;
    height: 98px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
  }
  .custom-heading {
    font-size: 20px;
    text-align: right;
    line-height: 19.8px;
    margin-left: 100px;
  }
  .logo {
    width: 92px;
    height: 45.3px;
    top: 26px;
    left: 20px;
    gap: 0px;
  }
}
