@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

.quick-links-container {
  /* border: 2px solid red; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  width: 346px;
  height: 567px;
  font-family: "Outfit", sans-serif;
}

.headingLink {
  /* border: 2px solid red; */
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 23.76px;
  color: #3a3a3a;

  margin-bottom: 15px;
  text-align: left;
}

.quick-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quick-links-list li {
  border-radius: 20px;
  padding: 20px;
  width: 346px;
  height: 168px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.quickLinks-logo {
  color: #ffffff;
}
.color-0 {
  background-color: #4749b3;
}

.color-1 {
  background-color: #e66dff;
}

.color-2 {
  background-color: #6669fe;
}

.color-0:hover {
  background-color: white;
  color: #4749b3;
}

.color-1:hover {
  background-color: white;
  color: #e66dff;
}

.color-2:hover {
  background-color: white;
  color: #6669fe;
}

.quick-link-item.color-0:hover .quickLinks-logo {
  filter: brightness(0) saturate(100%) invert(28%) sepia(75%) saturate(4953%)
    hue-rotate(222deg) brightness(92%) contrast(99%);
}
.quick-link-item.color-1:hover .quickLinks-logo {
  filter: invert(75%) sepia(53%) saturate(3250%) hue-rotate(285deg)
    brightness(100%) contrast(102%);
}
.quick-link-item.color-2:hover .quickLinks-logo {
  filter: brightness(10) saturate(100%) invert(62%) sepia(91%) saturate(433%)
    hue-rotate(189deg) brightness(100%) contrast(92%);
}

.quick-links-list li h3 {
  font-family: "Outfit", sans-serif;
  width: 197.71px;
  height: 17.91px;

  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 23.76px;
  color: inherit;
}
.quick-links-list li a {
  font-family: "Outfit", sans-serif;

  width: 223px;
  height: 21.07px;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 11.88px;
  color: inherit;
}
.linkDisc {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 480px) {
  .quick-links-container {
    margin: 160px auto;
    width: 100%;
    height: 40px;
  }
  .quick-links-list li {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    text-align: left;
    font-size: 20px;
  }
  .quick-links-list li a {
    display: none;
  }
  .quick-links-list li img {
    width: 36px;
    height: 36px;
  }
  .headingLink {
    font-size: 20px;
  }
}
