:root {
  --background: #ffffff; /* Light mode background color */
  --foreground: #f70d0d; /* Light mode foreground color (text) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2ff; /* Dark mode background color */
    --foreground: #db0909; /* Dark mode foreground color (text) */
  }
}

* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

html,
body {
  min-height: 100vh; /* Full height of the viewport */
  background-color: var(
    --background
  ); /* Background color based on the color scheme */
  color: var(--foreground); /* Text color based on the color scheme */
  font-family: Arial, Helvetica, sans-serif; /* Font family for the body */
  -webkit-font-smoothing: antialiased; /* Smooth fonts on macOS */
  -moz-osx-font-smoothing: grayscale; /* Smooth fonts on Firefox for macOS */
  display: flex; /* Use Flexbox for layout */
  flex-direction: row; /* Arrange children in a column */
  align-items: center; /* Center items horizontally */
  padding-top: 60px; /* Add space for the fixed header */
}

a {
  color: inherit; /* Links inherit the text color */
  text-decoration: none; /* Remove underline from links */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark; /* Set color scheme to dark */
  }
}
